.cards > div .icon {
  background-color: #d5ccfcc5;
  color: #8168e6;
  width: 80px;
  height: 80px;
  font-size: 40px;
}

.cards > div {
  background: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0 0 20px 5px rgba(235, 234, 234, 0.37);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits .icon {
  width: 30px !important;
  height: 30px !important;
  font-size: 16px !important;
}

.btn-purple {
  background-color: #e9e3ffce;
  color: #5b3bda;
}

.btn-purple:hover,
.cards > div:hover button,
.active-card button {
  background-color: #8168e6;
  color: #fff;
}

.cards > div:hover,
.active-card {
  transform: scale(1.1);
  box-shadow: 0 0 20px 5px rgba(235, 234, 234, 0.8);
}

.active-card {
  border-color: rgb(53, 53, 229);
}

@media screen and (min-width: 1000px) {
  .cards > div {
    margin: 0 18px;
  }
}
